:root {
	--primary-color: #3853e2;
	--secondary-color: #7c4ed9;
	--terciary-color: #b141c8;

	--primary-gradient: linear-gradient(
		135deg,
		var(--primary-color),
		var(--secondary-color)
	);

	--secondary-gradient: linear-gradient(
		135deg,
		var(--secondary-color),
		var(--terciary-color)
	);

	--primary-light: #e1e1f4;

	--error-bg: #fcf0f0;
	--error: #dd244b;
	--success: #20b684;

	--title-color: #1b1e2d;
	--text-color: #6c7289;
	--white: #fff;
	--gray: #f5f6f9;
	--gray-dark: rgba(176, 189, 204, 0.5);

	--bg-blur: rgba(238, 237, 247, 0.3);

	--title-font: sans-serif;
	--text-font: sans-serif;
}
