@import "./_vars.css";

/* Small Mobile */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--text-font);
	color: var(--text-color);
}

main {
	background-color: var(--gray);
}

h1,
h2,
h3,
h4 {
	font-family: var(--title-font);
	color: var(--title-color);
}

/* Big Mobile */
@media screen and (min-width: 500px) {
}

/* Small Tablet */
@media screen and (min-width: 700px) {
}

/* Big Tablet */
@media screen and (min-width: 900px) {
}

/* Desktop */
@media screen and (min-width: 1200px) {
}
