.transactionHistory__header {
	background: var(--terciary-gradient);
}

.transactionHistory__body {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.TransactionButton {
	background: var(--primary-gradient);
	width: 100%;
	max-width: 30rem;
	margin: 0 auto;
}

/* Big Mobile */
@media screen and (min-width: 500px) {
}

/* Small Tablet */
@media screen and (min-width: 700px) {
}

/* Big Tablet */
@media screen and (min-width: 900px) {
}

/* Desktop */
@media screen and (min-width: 1200px) {
}
.transactionHistory__search{
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 24px;
}

.transactionHistory__search button{
    margin-top: 16px;
}