.transferFound__header {
	background: var(--secondary-gradient);
}

.transferFound button {
	background: var(--secondary-gradient);
	width: 100%;
	max-width: 30rem;
	margin: 0 auto;
}

.transferFound__body,
.transferFound__accounts {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
}

svg {
	align-self: center;
	transition: 0.2s transform ease;
}

/* Big Mobile */
@media screen and (min-width: 500px) {
}

/* Small Tablet */
@media screen and (min-width: 700px) {
	.transferFound__accounts {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		gap: 1rem;
	}

	.transferFound__accounts svg {
		transform: rotate(-90deg);
	}
}

/* Big Tablet */
@media screen and (min-width: 900px) {
}

/* Desktop */
@media screen and (min-width: 1200px) {
}
